/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
}

h1, h2, h3, p {
    margin-bottom: 1rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"], select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3f8a40;
}

button.preference-button {
    margin-right: 0.5rem;
}

/* Result section */
.result {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Additional styles */
.destination {
    margin-bottom: 1.5rem;
}

#add-destination {
    margin-bottom: 1rem;
}

#selected-preferences ul {
    list-style-type: none;
    margin-bottom: 1rem;
}

#selected-preferences ul li {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.interesting-text {
    color: #88BB92;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#selected-preferences ul li:hover {
    background-color: #f1f1f1;
}

.itinerary-result {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}
#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}